<template>
	<div class="c-background" v-bind:id="'for-scene-'+show">
		<transition name="fade" mode="in-out" appear v-for="(item, key) in collection" v-bind:key="key">
			<video v-if="!isMobile && isVideo(item,key)" ref="videoRef"  v-bind:id="'video-'+key" autobuffer preload="auto" autoplay loop playsinline webkit-playsinline muted>
				<source v-bind:src="item.src.mp4" type="video/mp4;" />
				<source v-bind:src="item.src.ogg" type="video/ogg" />
				<source v-bind:src="item.src.webm" type="video/webm;" />
			</video>
			<div v-if="isMobile && isVideo(item,key)" v-bind:style="{ backgroundImage: `url('${ item.poster }')` }" class="c-background__image"></div>
			<div v-if="isImage(item,key)" v-bind:style="{ backgroundImage: `url('${ item.src }')` }" class="c-background__image"></div>
		</transition>
	</div>
</template>

<script type='text/javascript'>
export default {
  name: 'AppBackground',
  props: ['show', 'scene'],
  data () {
    return {
      activeIndex: 0,
      isMobile: window.isMobile
    }
  },
  computed: {
    collection () {
      return [
        {
          type: 'video',
          src: {
            mp4: require('../assets/media/portrait-video3.mp4'),
            ogg: require('../assets/media/portrait-video3.ogg'),
            webm: require('../assets/media/portrait-video3.webm')
          },
          poster: require('../assets/images/startM.jpg')
        },
        {
          type: 'video',
          src: {
            mp4: require('../assets/media/Zimbabwe.mp4'),
            ogg: require('../assets/media/Zimbabwe.ogg'),
            webm: require('../assets/media/Zimbabwe.webm')
          },
          poster: require('../assets/images/ZimbabweM.jpg')
        },
        {
          type: 'video',
          src: {
            mp4: require('../assets/media/Zimbabwe.mp4'),
            ogg: require('../assets/media/Zimbabwe.ogg'),
            webm: require('../assets/media/Zimbabwe.webm')
          },
          poster: require('../assets/images/ZimbabweM.jpg')
        },
        {
          type: 'image',
          src: require('../assets/images/Loice5.jpg')
        },
        {
          type: 'video',
          src: {
            mp4: require('../assets/media/madagascar.mp4'),
            ogg: require('../assets/media/madagascar.ogg'),
            webm: require('../assets/media/madagascar.webm')
          },
          poster: require('../assets/images/MadagascarM.jpg')
        },
        {
          type: 'image',
          src: require('../assets/images/lodineBG.png')
        }
      ]
    }
  },
  methods: {
    isVideo: function (item, key) {
      let pass = this.$props.show === key && item.type === 'video'
      return pass
    },
    isImage: function (item, key) {
      let pass = this.$props.show === key && item.type === 'image'
      return pass
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/AppBackground.vue