<template>
	<transition name='fade' mode='in-out'>
		<header class='c-header' v-show='show'>
			<a v-on:click='startOver' class='c-btn'>
				<svg width='25px' height='24px' viewBox='0 0 25 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'>
					<!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
					<title>Page 1</title>
					<desc>Created with Sketch.</desc>
					<defs></defs>
					<g id='Desktop' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'>
						<g id='01' transform='translate(-20.000000, -19.000000)' fill='#ffffff'>
							<polygon id='Page-1' points='32.6160256 19 20 31.3839744 23.8461538 31.3839744 23.8461538 42.9224359 29.6153846 42.9224359 29.6153846 35.2307692 35.3846154 35.2307692 35.3846154 42.9224359 41.1538462 42.9224359 41.1538462 31.3839744 44.999359 31.3839744'></polygon>
						</g>
					</g>
				</svg>
			</a>
			<div v-if='!mobile && scene === 6'><ShareWidget></ShareWidget></div>
			<a href='/donate/' target='_blank' class='c-btn'>Donate Now</a>
		</header>
	</transition>
</template>
<script>
import ShareWidget from './ShareWidget.vue'

export default {
  name: 'AppHeader',
  components: { ShareWidget },
  props: ['scene', 'show', 'mobile'],
  methods: {
    startOver: function () {
      window.location.reload()
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/AppHeader.vue