<template lang="html">
	<keep-alive>
		<SceneI
			v-bind:ready="start"
			v-bind:act="act"
			v-bind:animation="animation"
			v-if="scene == 0">
			<Loader slot="loader"></Loader>
		</SceneI>
		<!--SceneII  v-bind:act="act" v-bind:animation="animation" v-if="scene == 1"></SceneII-->
		<SceneIII v-bind:act="act" v-bind:animation="animation" v-if="scene == 1" ></SceneIII>
		<SceneIV v-bind:act="act" v-bind:animation="animation" v-bind:screenSize="screenSize" v-if="scene == 2" ></SceneIV>
		<SceneV  v-bind:act="act" v-bind:animation="animation" v-if="scene == 3" ></SceneV>
		<SceneVI  v-bind:act="act" v-bind:animation="animation"  v-bind:screenSize="screenSize" v-if="scene == 4"></SceneVI>
		<SceneFinal
			v-bind:act="act"
			v-bind:screenSize="screenSize"
			v-if="scene == 5" >
		</SceneFinal>
	</keep-alive>
</template>

<script>
import Loader from '../components/Loader.vue'
import SceneI from '../components/SceneI.vue'
import SceneII from '../components/SceneII.vue'
import SceneIII from '../components/SceneIII.vue'
import SceneIV from '../components/SceneIV.vue'
import SceneV from '../components/SceneV.vue'
import SceneVI from '../components/SceneVI.vue'
import SceneFinal from '../components/SceneFinal.vue'

export default {
  name: 'AppScene',
  components: {
    Loader,
    SceneI,
    SceneII,
    SceneIII,
    SceneIV,
    SceneV,
    SceneVI,
    SceneFinal
  },
  props: ['scene', 'act', 'start'],
  data () {
    return {
      animation: 'slide-up',
      sceneChanged: false,
      scenePrev: 0,
      screenSize: window.innerWidth
    }
  },
  methods: {},
  created () {
    this.$on('sceneComplete', direction => {
      this.$parent.$emit('sceneSwitch', direction)
    })
    window.addEventListener('resize', () => {
      this.screenSize = window.innerWidth
    })
  },
  watch: {
    scene: function (val, oldVal) {
      this.sceneChanged = true
      this.scenePrev = oldVal
    },
    act: function (current, previous) {
      if (current >= 0 && !this.sceneChanged) {
        this.animation = current < previous ? 'slide-down' : 'slide-up'
      }
      if (this.sceneChanged) {
        this.animation =
          this.scene > this.scenePrev ? 'slide-up' : 'slide-down'
        this.sceneChanged = false
      }
      if (current < 0 && this.scene > 0) {
        this.$parent.$emit('sceneSwitch', current)
        this.animation = 'slide-down'
      }
    }
  }
}
</script>

