<template>
	<div class='c-preloader' >
		<transition name='fade' mode='in-out'>
			<div class='c-preloader__overlay' v-show='!complete'></div>
		</transition>
		<transition name='fade' mode='in-out' appear>
			<div class='c-preloader__icon' data-title='Loading'
				v-show='ready'>
			</div>
		</transition>
	</div>
</template>
<script>
export default {
  name: 'Loader',
  props: [],
  data () {
    return {
      icon: null,
      ready: false,
      complete: false,
      isMobile: window.isMobile
    }
  },
  mounted () {
    let loaderIconSrc = require('../assets/images/door.png')
    let image = new Image()

    image.onload = () => {
      this.icon = loaderIconSrc
      this.ready = true
      setTimeout(() => {
        this.complete = true
        this.$root.$emit('loaded')
      }, 3000)
    }
    image.src = loaderIconSrc
  }
}
</script>
