<template>
	<div class="c-scene" id="scene-6">
		<SceneContent >
			<transition-group slot="row" appear tag="div" v-bind:name="animation" mode="in-out" class="c-content__row">
				<div key="image" v-if="act == 0" class="c-content__row-column">
					<img v-if="screenSize > 970" src="../assets/images/Bitmap.jpg" alt="">
					<img v-else src="../assets/images/lodineT.jpg" alt="">
				</div>
				<div key="content" v-if="act == 0" class="c-content__row-column">
					<h2>Lodine Zotianas always dreamed of sending her five children to school, but with her family’s income already stretched thin, she knew that getting pregnant again could put that goal out of reach.</h2>
					<p>After receiving a long-acting implant from Marie Stopes Madagascar, she credits contraception with restoring her optimism for the future.</p>
					<p><span> “I am very proud to be able to send all my five children to school. I hope they will have a better life than mine.”</span></p>
					<p><span> “If the voucher program is not re-established, I will not be able to afford an implant.”</span></p>
					<a href="/donate/" target="_blank" class="c-btn">Donate Now</a>
					<transition name="fade-in" mode="out-in" appear>
						<div class="c-tltip">
							<div class="c-tltip__label">Scroll to continue</div>
							<div class="c-tltip__icon"></div>
						</div>
					</transition>
				</div>
			</transition-group>
		</SceneContent>
	</div>
</template>

<script>
import SceneContent from './SceneContent.vue'

export default {
  name: 'SceneVI',
  components: { SceneContent },
  props: ['act', 'animation', 'screenSize'],
  data () {
    return {
      align: 'right'
    }
  },
  watch: {
    act: function (val, oldVal) {
      if (val === 1) {
        this.$parent.$emit('sceneComplete', this.act)
      }
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/SceneVI.vue