<template>
	<div id='scene-final' class='c-scene'>
		<SceneGallery v-if='screenSize >= 970' v-bind='{ collection: gallery }' ref='gallery'></SceneGallery>
		<SceneContent>
			<div slot='column' class='c-content__row'>
				<h3>We’re standing by our commitment to Loice, Lodine and the millions of women and girls who need us, despite the Global Gag Rule. But we need new partners - like you - who strongly believe in women’s reproductive choice and freedom.  </h3>
				<h3><span>With your support, we can ensure that no woman who has received our care is ever denied it in the future. Together, we can stand strong through adversity.</span></h3>
				<p><a href='/donate/' target='_blank' class='c-btn'>Donate Now</a></p>
				<p><a href='/mexico-city-policy/'>Learn More</a></p>
				<p><a v-on:click.prevent='restart' class='c-btn-reset'>Start Over</a></p>

				<SceneGallery v-if='screenSize < 970' v-bind='{ collection: gallery }' ref='gallery'></SceneGallery>
			</div>
		</SceneContent>
	</div>
</template>

<script>
import TweenMax from 'gsap'
import SceneContent from './SceneContent.vue'
import SceneGallery from './SceneGallery.vue'
import ShareWidget from './ShareWidget.vue'

export default {
  name: 'SceneFinal',
  components: { SceneContent, SceneGallery, ShareWidget },
  props: ['act', 'screenSize'],
  methods: {
    restart: function () {
      window.location.reload()
    }
  },
  data () {
    return {
      gallery: [
        {
          image: require('../assets/images/Zimbabwe2s.jpg')
        },
        {
          image: require('../assets/images/Madagascar2s.jpg')
        },
        {
          image: require('../assets/images/MSM_MRajaonary_18102017_Outreach_Mirana_3.jpg')
        },
        {
          image: require('../assets/images/Marie Stopes International_Mashonaland West Outreach_Doro_Cynthia R Matonhodze_20170911_31.jpg')
        },
        {
          image: require('../assets/images/MSM_MRajaonary_16102017_Fidirana_Outreach_Mother_3.jpg')
        },
        {
          image: require('../assets/images/MSM_MRajaonary_18102017_Outreach_Bako_1.jpg')
        },
        {
          image: require('../assets/images/Madagascar5.jpg')
        }
      ],
      contentTimeline: new TimelineMax({ paused: true }),
      contentTimelineMobile: new TimelineMax({ paused: true }),
      isMobile: window.isMobile
    }
  },
  mounted () {
    this.contentTimelineMobile
      .staggerFromTo(
        document.querySelectorAll('.c-content__row')[0].children,
        0.6,
        {
          opacity: 0,
          y: 50
        },
        {
          opacity: 1,
          y: 0,
          ease: Power2.easeInOut
        },
        0.1
      )
      .addLabel('act-0')
    this.contentTimeline
      .staggerFromTo(
        document.querySelectorAll('.c-content__row')[0].children,
        0.6,
        {
          opacity: 0,
          y: 50
        },
        {
          opacity: 1,
          y: 0,
          ease: Power2.easeInOut
        },
        0.1
      )
      .staggerFromTo(
        this.$refs.gallery.$el.children,
        0.6,
        {
          width: '0%'
        },
        {
          width: '25vh'
        },
        0.2
      )
      .addLabel('act-0')
  },
  deactivated () {},
  activated () {
    if (window.isMobile) {
      this.contentTimelineMobile
        .progress(0)
        .pause()
        .tweenTo('act-0')
    } else {
      this.contentTimeline
        .progress(0)
        .pause()
        .tweenTo('act-0')
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/SceneFinal.vue