<template>
	<div id='scene-3' class='c-scene'>
		<SceneGallery v-bind='{ collection: gallery }' ref='gallery'></SceneGallery>
		<SceneContent v-bind:align='align'>
			<transition-group slot='column' v-bind:name='animation' mode='in-out' appear>
				<div v-if='isMobile ? (act == 0 ) : (act < 1)' key='1' class='c-content__column' >
					<h4>Zimbabwe</h4>
					<h2>Previously funded by the US Government, our outreach teams in Zimbabwe trek across challenging terrain to provide contraception to women in remote, underserved areas.</h2>
					<transition name='fade-in' mode='out-in' appear>
						<div class='c-tltip'>
							<div class='c-tltip__icon'></div>
						</div>
					</transition>
				</div>
				<div v-if='isMobile ? (act == 2 ) : (act == 1)' key='2' class='c-content__column'>
					<h2>Outreach teams have reached almost a half-a million women in Zimbabwe with contraception. Now, one-half of outreach locations have <span>closed due to lack of funds.</span> </h2>
					<transition name='fade-in' mode='out-in' appear>
						<div class='c-tltip'>
							<div class='c-tltip__icon'></div>
						</div>
					</transition>
				</div>
			</transition-group>
		</SceneContent>

	</div>
</template>

<script>
import TweenMax from 'gsap'
import SceneGallery from './SceneGallery.vue'
import SceneContent from './SceneContent.vue'
import play from './utils/play.js'

export default {
  name: 'SceneIII',
  components: { SceneContent, SceneGallery },
  props: ['act', 'animation'],
  data () {
    return {
      align: 'right',
      gallery: [
        {
          image: require('../assets/images/Group 6.png')
        },
        {
          image: require('../assets/images/Group 7.png')
        }
      ],
      isMobile: window.isMobile,
      contentTimeline: new TimelineMax({ paused: true }),
      contentTimelineMobile: new TimelineMax({ paused: true })
    }
  },
  mounted () {
    this.contentTimeline
      .staggerFromTo(
        this.$refs.gallery.$el.children,
        0.6,
        {
          width: '0vh'
        },
        {
          width: '25vh'
        },
        0.2,
        0
      )
      .addLabel('act-0')
  },
  activated () {
    this.contentTimeline.progress(0).play()
  },
  watch: {
    act: function (val, oldVal) {
      if (!this.isMobile) {
        if (val === 0) {
          this.contentTimeline
            .progress(0)
            .pause()
            .play()
        }
        if (val === 1) {
          this.contentTimeline.reverse()
        }
      }
      if (val === (this.isMobile ? 3 : 2)) {
        this.$parent.$emit('sceneComplete', this.act)
      }
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/SceneIII.vue