<template>
	<div class='c-scene'>
		<SceneContent>
			<transition-group slot='column' v-bind:name='animation' mode='in-out' appear>
				<div v-if='isMobile ? (act == 0 ) : (act < 2)' key='1' class='c-content__column' >
					<h2  >But politics in Washington are putting women and girls – and their futures - <span>at risk.</span></h2>
					<transition name='fade-in' mode='out-in' appear>
						<div class='c-tltip'>
							<div class='c-tltip__icon'></div>
						</div>
					</transition>
				</div>
				<div v-if='isMobile ? (act == 1 ) : (act == 2)' key='2' class='c-content__column'>
					<h2 >The Trump Administration’s expanded Global Gag Rule blocks us from receiving US Government funds if we provide or discuss legal abortion care, even with our own resources. We now face a <span>$30 million annual funding gap.</span></h2>
					<transition name='fade-in' mode='out-in' appear>
						<div class='c-tltip'>
							<div class='c-tltip__icon'></div>
						</div>
					</transition>
				</div>
				<div v-if='isMobile ? (act == 2 ) : (act == 3)' key='3' class='c-content__column' >
					<h2>The Global Gag Rule has already affected women and girls who rely on our services in countries like <span>Zimbabwe</span> and <span>Madagascar.</span> </h2>
					<transition name='fade-in' mode='out-in' appear>
						<div class='c-tltip'>
							<div class='c-tltip__label'>Take a closer look at Zimbabwe</div>
							<div class='c-tltip__icon'></div>
						</div>
					</transition>
				</div>
			</transition-group>
		</SceneContent>
	</div>
</template>

<script>
import SceneContent from './SceneContent.vue'

export default {
  name: 'SceneII',
  components: { SceneContent },
  props: ['act', 'animation'],
  data () {
    return {
      isMobile: window.isMobile
    }
  },
  watch: {
    act: function (val, oldVal) {
      if (val === (this.isMobile ? 3 : 4)) {
        this.$parent.$emit('sceneComplete', this.act)
      }
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/SceneII.vue