<template>
	<div id='scene-1' class='c-scene'>
		<slot name='loader'></slot>
		<SceneGallery v-bind='{ collection: gallery }' ref='gallery'></SceneGallery>
		<SceneContent>
			<div slot='column'>
				<div class='c-content__column'>
					<div class='c-content__pt'>
						<h1>We believe it is every woman’s right to have children by   <span>choice, not chance.</span> </h1>
					</div>
					<div class='c-content__pt'>
						<p >When we provide women and girls with contraception, they gain the freedom to plan their futures and live their dreams. </p>
					</div>
					<div class='c-tltip'>
						<div class='c-tltip__label'>Scroll to continue</div>
						<div class='c-tltip__icon'></div>
					</div>
				</div>
			</div>
		</SceneContent>
	</div>
</template>

<script>
import TweenMax from 'gsap'
import Loader from './Loader.vue'
import SceneGallery from './SceneGallery.vue'
import SceneContent from './SceneContent.vue'
import play from './utils/play.js'

export default {
  name: 'SceneI',
  components: { SceneContent, SceneGallery },
  props: ['act', 'animation', 'ready'],
  data () {
    return {
      gallery: [
        {
          image: require('../assets/images/startthumbimage1.png')
        },
        {
          image: require('../assets/images/startthumbimage2.png')
        },
        {
          image: require('../assets/images/startthumbimage3.png')
        }
      ],
      contentTimeline: new TimelineMax({ paused: true }),
      contentTimelineMobile: new TimelineMax({ paused: true }),
      isMobile: window.isMobile
    }
  },
  mounted () {
    let preloaderIcon = document.querySelectorAll('.c-preloader__icon')[0]

    this.contentTimelineMobile
      .to(preloaderIcon, 1, {
        y: -window.innerHeight * 0.25 - 60,
        ease: Expo.easeInOut
      })
      .fromTo(
        document.querySelectorAll('.c-content__pt')[0],
        1,
        {
          opacity: 0,
          y: 150
        },
        {
          opacity: 1,
          y: 0,
          ease: Power2.easeInOut
        },
        0.2
      )
      .fromTo(
        document.querySelectorAll('.c-tltip')[0],
        1,
        {
          y: 100,
          opacity: 0
        },
        {
          y: -50,
          opacity: 1,
          ease: Power2.easeInOut
        },
        0.4
      )
      .addLabel('act-0')
      .to(preloaderIcon, 1, {
        y: '-=100',
        alpha: 0,
        ease: Expo.easeInOut
      })
      .fromTo(
        document.querySelectorAll('.c-content__pt')[1],
        1,
        {
          opacity: 0,
          y: 50
        },
        {
          opacity: 1,
          y: -50,
          ease: Power2.easeInOut
        },
        'act-0'
      )
      .to(
        document.querySelectorAll('.c-content__pt')[0],
        1,
        {
          y: '-=50',
          ease: Power2.easeInOut
        },
        'act-0'
      )
      .to(
        document.querySelectorAll('.c-tltip')[0].children[0],
        1,
        {
          opacity: 0,
          y: '-100%'
        },
        'act-0'
      )
      .to(
        document.querySelectorAll('.c-tltip')[0].children[1],
        1,
        {
          y: '-100%'
        },
        'act-0'
      )
      .addLabel('act-1')
      .to(document.querySelectorAll('.c-content__pt'), 1, {
        opacity: 0,
        ease: Power2.easeInOut
      })
      .addLabel('act-2')
      .addLabel('finalize')

    this.contentTimeline
      .to(preloaderIcon, 1, {
        y: -window.innerHeight * 0.25 - 85,
        ease: Expo.easeInOut
      })
      .fromTo(
        document.querySelectorAll('.c-content__pt')[0],
        1,
        {
          opacity: 0,
          y: 150
        },
        {
          opacity: 1,
          y: 0,
          ease: Power2.easeInOut
        },
        0.2
      )
      .fromTo(
        document.querySelectorAll('.c-tltip')[0],
        1,
        {
          y: 100,
          opacity: 0
        },
        {
          y: -50,
          opacity: 1,
          ease: Power2.easeInOut
        },
        0.4
      )
      .addLabel('act-0')
      .to(preloaderIcon, 1, {
        y: '-=100',
        alpha: 0,
        ease: Expo.easeInOut
      })
      .fromTo(
        document.querySelectorAll('.c-content__pt')[1],
        1,
        {
          opacity: 0,
          y: 50
        },
        {
          opacity: 1,
          y: -50,
          ease: Power2.easeInOut
        },
        'act-0'
      )
      .to(
        document.querySelectorAll('.c-content__pt')[0],
        1,
        {
          y: '-=50',
          ease: Power2.easeInOut
        },
        'act-0'
      )
      .to(
        document.querySelectorAll('.c-tltip')[0].children[0],
        1,
        {
          opacity: 0,
          y: '-100%'
        },
        'act-0'
      )
      .to(
        document.querySelectorAll('.c-tltip')[0].children[1],
        1,
        {
          y: '-100%'
        },
        'act-0'
      )
      .staggerFromTo(
        this.$refs.gallery.$el.children,
        0.6,
        {
          width: 0
        },
        {
          width: '25vh'
        },
        0.2,
        'act-0'
      )
      .addLabel('act-1')
      .to(document.querySelectorAll('.c-content__column')[0], 0.6, {
        y: '-100%',
        opacity: 0,
        ease: Power2.easeInOut
      })
      .addLabel('finalize')
  },
  activated () {
    if (this.ready) {
      play(this)
    }
  },
  deactivated () {},
  watch: {
    ready: function (val) {
      play(this)
    },
    act: function (val, oldVal) {
      if (this.isMobile) {
        if (val === 3) {
          this.$parent.$emit('sceneComplete', this.act)
        } else {
          this.contentTimelineMobile.tweenTo('act-' + val)
        }
      } else {
        if (val < 2) {
          this.contentTimeline.tweenTo('act-' + val)
          return
        }
        this.contentTimeline.tweenTo('finalize')
        this.$parent.$emit('sceneComplete', this.act)
      }
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/SceneI.vue