<template>
	<div class='c-scene' id='scene-4'>
		<SceneContent>
			<transition-group slot='row' appear tag='div' v-bind:name='animation' mode='out-in' class='c-content__row'>
				<div key='image' v-if='act == 0' class='c-content__row-column'>
					<img v-if='screenSize > 970' src='../assets/images/Loice5s.jpg' alt='>
					<img v-else src="../assets/images/loiceT.jpg" alt='>
				</div>
				<div key='content' v-if='act == 0' class='c-content__row-column'>
					<h3>Loice Masedze decided to get a long-acting contraceptive method while visiting a Marie Stopes outreach site so she could spend more time earning an income and raising her kids, instead of traveling to access care.</h3>
					<p>Thanks to the services she received at the outreach site, she says that “contraception has helped me plan my family on my own terms.”</p>
					<p><span> “I would feel wronged if you were no longer able to come here because I still want to continue planning my family.”</span></p>
					<a href='/donate/' target='_blank' class='c-btn'>Donate Now</a>
					<transition name='fade-in' mode='out-in' appear>
						<div class='c-tltip'>
							<div class='c-tltip__label'>Scroll to continue</div>
							<div class='c-tltip__icon'></div>
						</div>
					</transition>
				</div>
			</transition-group>
		</SceneContent>

	</div>
</template>

<script>
import SceneContent from './SceneContent.vue'

export default {
  name: 'SceneIV',
  components: { SceneContent },
  props: ['act', 'animation', 'screenSize'],
  watch: {
    act: function (val, oldVal) {
      if (val === 1) {
        this.$parent.$emit('sceneComplete', this.act)
      }
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/SceneIV.vue