<template>
	<div class='c-gallery' >
		<div class='c-gallery__item'
			v-for='(item, key) in images'
			v-bind:key='key' >
				<div class='c-gallery__item-inner' v-bind:style="{ backgroundImage: `url('${item.image}')` }" ></div>
		</div>
	</div>
</template>


<script>
import TweenMax from 'gsap'

export default {
  name: 'SceneGallery',
  props: ['collection'],
  data () {
    return {
      images: this.$props.collection
    }
  },
  methods: {},
  created () {},
  mounted () {}
}
</script>



// WEBPACK FOOTER //
// src/components/SceneGallery.vue