<template>
	<div class="c-scene">
		<SceneContent v-bind:align="align">
			<transition-group slot="column" v-bind:name="animation" mode="in-out" appear>
				<div v-if="act < 1" key="1" class="c-content__column" >
					<h4>Madagascar</h4>
					<h2>In Madagascar, the US Government funded our voucher program that delivered more than <span>170,000 free services</span> to women and girls who could not afford care.</h2>
					<transition name="fade-in" mode="out-in" appear>
						<div class="c-tltip">
							<div class="c-tltip__icon"></div>
						</div>
					</transition>
				</div>
				<div v-if="act == 1" key="2" class="c-content__column">
					<h2>This successful program has closed, leaving thousands of teens and poor women with <span>nowhere else to turn.</span></h2>
					<transition name="fade-in" mode="out-in" appear>
						<div class="c-tltip">
							<div class="c-tltip__icon"></div>
						</div>
					</transition>
				</div>
			</transition-group>
		</SceneContent>
	</div>
</template>

<script>
import SceneContent from './SceneContent.vue'
export default {
  name: 'SceneV',
  components: { SceneContent },
  props: ['act', 'animation'],
  data () {
    return {
      align: 'right'
    }
  },
  watch: {
    act: function (val, oldVal) {
      if (val < 2) return
      this.$parent.$emit('sceneComplete', this.act)
    }
  }
}
</script>



// WEBPACK FOOTER //
// src/components/SceneV.vue