<template>
	<div class='c-content'  v-bind:class="{'c-content_right': align == 'right'}">
		<slot name='column'></slot>
		<slot name='row'></slot>
	</div>
</template>

<script type='text/javascript'>
export default {
  name: 'SceneContent',
  props: ['align']
}
</script>



// WEBPACK FOOTER //
// src/components/SceneContent.vue