<template>
	<div class="share share__desktop visible">
		<div class="share-icon share-icon__desktop">
			<span>share</span>
		</div>
		<div class="share-social share-social__desktop">
			<ul>
			    <li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.mariestopes-us.org/standing-strong/" class="share-social-btn share-facebook"></a></li>
			    <li><a target="_blank" href="https://twitter.com/home?status=This%20holiday%20season,%20I%E2%80%99m%20standing%20up%20against%20the%20%23GlobalGagRule%20and%20standing%20strong%20for%20women%20%26%20girls%20with%20@MarieStopes.%20Will%20you%20join%20me? https://www.mariestopes-us.org/standing-strong/" class="share-social-btn share-twitter"></a></li>
			    <li><a target="_blank" href="https://plus.google.com/share?url=Global Gag Rule https://www.mariestopes-us.org/standing-strong/" class="share-social-btn share-google"></a></li>
			    <li><a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url=https://www.mariestopes-us.org/standing-strong/&title=This%20holiday%20season,%20I%E2%80%99m%20standing%20up%20against%20the%20%23GlobalGagRule%20and%20standing%20strong%20for%20women%20%26%20girls%20with%20@MarieStopes.%20Will%20you%20join%20me?" class="share-social-btn share-linkedin"></a></li>
			    <li><a target="_blank" href="https://pinterest.com/pin/create/button/?url=https://www.mariestopes-us.org/standing-strong/&description=This%20holiday%20season,%20I%E2%80%99m%20standing%20up%20against%20the%20#GlobalGagRule%20and%20standing%20strong%20for%20women%20&%20girls%20with%20@MarieStopes.%20Will%20you%20join%20me?" class="share-social-btn share-pinterest"></a></li>
			    <li><a target="_blank" href="mailto:?&subject=Check this out!&body=This%20holiday%20season,%20I%E2%80%99m%20standing%20up%20against%20the%20#GlobalGagRule%20and%20standing%20strong%20for%20women%20&%20girls%20with%20@MarieStopes.%20Will%20you%20join%20me? https://www.mariestopes-us.org/standing-strong/" class="share-social-btn share-email"></a></li>
			</ul>
		</div>
	</div>
</template>
<script>
export default {
  name: 'ShareWidget',
  props: [],
  data () {
    return {
      icon: null,
      ready: false,
      complete: false,
      isMobile: window.isMobile
    }
  },
  mounted () {}
}
</script>



// WEBPACK FOOTER //
// src/components/ShareWidget.vue