
<template>
	<div id="app" v-bind:class="{'load-complete': start}">

		<AppHeader v-bind="{ show: start, scene: scene, mobile: isMobile }"></AppHeader>

		<AppScene v-bind="{ scene: scene, act: act, start: start }"></AppScene>

		

		<AppBackground v-bind:show="scene" v-bind:start="start" ></AppBackground>

		<div id="canvas"></div>
	</div>
</template>


<script>
import TweenMax from 'gsap'
import Lethargy from 'lethargy'
import Hammer from 'hammerjs'

import Canvas from './components/canvas'

import AppBackground from './components/AppBackground.vue'
import AppHeader from './components/AppHeader.vue'
import AppScene from './components/AppScene.vue'

import SVGMap from './components/Map.vue'

window.isMobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
  navigator.userAgent
)

let lethargy = new Lethargy.Lethargy()
export default {
  name: 'app',
  components: { AppHeader, AppScene, AppBackground, SVGMap },
  props: ['start'],
  data () {
    return {
      act: 0,
      canvas: new Canvas(),
      control: true,
      crossfade: new TimelineMax({ paused: true }),
      scene: 0,
      mobileMask: null,
      overlays: [
        {
          color: 0x293572,
          opacity: 0.9,
          object: null,
          mask: 'right'
        },
        {
          color: 0x000000,
          opacity: 0.8,
          object: null,
          mask: 'left'
        },
        {
          color: 0x000000,
          opacity: 0.8,
          object: null,
          mask: null
        },
        {
          color: 0x000000,
          opacity: 0.8,
          object: null,
          mask: 'left'
        },
        {
          color: 0x000000,
          opacity: 0.8,
          object: null,
          mask: null
        },
        {
          color: 0x293572,
          opacity: window.isMobile ? 0 : 0.9,
          object: null,
          mask: 'right'
        }
      ],
      timeout: null,
      isMobile: window.isMobile
    }
  },
  created () {
    if (!window.isMobile) {
      let support =
        'onwheel' in document.createElement('div')
          ? 'wheel' // Modern browsers support 'wheel'
          : document.onmousewheel !== undefined
            ? 'mousewheel' // Webkit and IE support at least 'mousewheel'
            : 'DOMMouseScroll' // let's assume that remaining browsers are older Firefox

      window.addEventListener(support, this.handleScroll)
      window.addEventListener('keypress', e => {
        if (e.charCode === 32) {
          if (e.shiftKey) {
            this.act--
            return
          }
          this.act++
        }
      })
    }
    window.addEventListener('click', e => {
      if (e.target.matches('.c-tltip, .c-tltip > *')) {
        e.stopPropagation()
        this.act++
      }
    })
    window.addEventListener('keypress', e => {
      if (['1', '2', '3', '4', '5', '6', '7'].indexOf(e.key) !== -1) {
        this.scene = e.key - 1
      }
    })
    this.$on('sceneSwitch', direction => {
      if (direction > 0) {
        this.scene++
      } else {
        this.scene--
      }
    })

    this.$on('restart', () => {
      this.scene = 0
    })
  },
  mounted () {
    this.canvas.init(document.getElementById('canvas'))
    for (var i = 0; i < this.overlays.length; i++) {
      this.overlays[i].object = this.canvas.makeOverlay(this.overlays[i].color)
      this.overlays[this.scene].object.material.opacity = this.overlays[this.scene].opacity

      if (this.overlays[i].mask) {
        this.overlays[i].mask = this.canvas.makeMask(this.overlays[i].mask)
      }
    }
    if (window.isMobile) {
      this.mobileMask = this.canvas.makeMaskMobile()

      let handler = new Hammer.Manager(this.$el, {
        touchAction: 'pan-x'
      })

      let Pan = new Hammer.Pan({ direction: Hammer.DIRECTION_VERTICAL })
      handler.add(Pan)

      let scrolling = false
      let scrollable = false
      let direction = 8
      let container
      let atBottom = false
      let atTop = true
      let contentOffset = 0
      let contentHeight = 0
      let position = 0
      let path = 0

      handler.on('panstart', event => {
        if (this.scene === 3 || this.scene === 5 || this.scene === 6) {
          scrollable = true

          container = document.querySelectorAll('.c-content__row')[0]
          contentHeight = container.getBoundingClientRect().height
        } else {
          scrollable = false
        }
      })

      handler.on('pan', event => {
        // TO_TOP event.direction = 8
        // TO_BOTTOM event.direction = 16
        if (
          event.additionalEvent === 'panup' ||
          event.additionalEvent === 'pandown'
        ) {
          direction = event.direction
        }
        if (scrollable) {
          scrolling = true
          contentOffset = container.getBoundingClientRect().top
          path = position + event.deltaY
          TweenMax.set(container, {
            y: path
          })
        }
      })
      handler.on('panend', event => {
        if (scrollable && scrolling) {
          position = path
          scrolling = false

          if (window.innerHeight - contentHeight <= contentOffset && atBottom) {
            atBottom = false
          }
          if (position < 0 && atTop) {
            atTop = false
          }

          // console.log('endpos: ' + position, ' atBottom: ' + atBottom, ' atTop: ' + atTop)

          if (window.innerHeight - contentHeight > contentOffset && !atBottom) {
            position = window.innerHeight - contentHeight - 88
            atBottom = true
            TweenMax.to(container, 1, {
              y: position,
              ease: Power2.easeInOut
            })

            return
          }
          if (position > 0 && !atTop) {
            position = 0
            atTop = true

            TweenMax.to(container, 1, {
              y: position,
              ease: Power2.easeInOut
            })

            return
          }
          if (atBottom && direction === 8) {
            atBottom = false
            position = 0
            TweenMax.set(container, { clearProps: 'transform' })
            this.act++
          }
          if (atTop && direction === 16) {
            atTop = false
            position = 0
            TweenMax.set(container, { clearProps: 'transform' })
            this.act--
          }
        }

        if (event.distance > 100 && !scrollable) {
          if (event.direction === 8) {
            this.act++
          }
          if (event.direction === 16) {
            this.act--
          }
        }
      })

      this.handler = handler
    }
  },
  watch: {
    start: function () {
      this.canvas.switch()

      if (this.overlays[this.scene].mask && !window.isMobile) {
        this.overlays[this.scene].mask.timeline.play()
      }
    },
    scene: function (val, oldVal) {
      this.canvas.switch()
      this.act = 0

      if (!window.isMobile) {
        if (this.overlays[oldVal].mask) {
          this.overlays[oldVal].mask.timeline.reverse()
        }
        if (this.overlays[val].mask) {
          this.overlays[val].mask.timeline.progress(0).play()
        }
      }

      if (window.isMobile) {
        if (this.mobileMask) {
          this.mobileMask.timeline.reverse()
        }
        // if(this.scene === 3 || this.scene === 5 || this.scene === 6) {
        // this.handler.set({touchAction: 'auto'})
        // }
        // else {
        // this.handler.touchAction.set('pan-x')
        // }
      }
      this.crossfade
        .to(this.overlays[oldVal].object.material, 1, {
          opacity: 0
        })
        .to(
          this.overlays[val].object.material,
          1,
          {
            opacity: this.overlays[val].opacity
          },
          0
        )
        .play()
    },
    act: function (current, previous) {
      if (window.isMobile) {
        window.scrollTop = 0
        if (this.scene === 0) {
          if (current === 2) {
            this.mobileMask.timeline.play()
          }
          if (current < previous && current !== 2) {
            this.mobileMask.timeline.reverse()
          }
        }
        if (this.scene === 2) {
          if (current === 1) {
            this.mobileMask.timeline.play()
          }
          if (current === 0 || current === 2) {
            this.mobileMask.timeline.reverse()
          }
        }
      }
      if (!window.isMobile) {
        if (
          (this.scene === 2 && current === 1) ||
          (this.scene === 4 && current === 1)
        ) {
          this.overlays[this.scene].mask.timeline.reverse()
        }
        if (
          (this.scene === 2 && current === 0) ||
          (this.scene === 4 && current === 0)
        ) {
          this.overlays[this.scene].mask.timeline.play()
        }
      }
    }
  },
  methods: {
    handleScroll (e) {
      e.preventDefault()
      e.stopPropagation()
      let delta = e.wheelDelta > 0 ? -1 : 1
      if (lethargy.check(e) === false || (!this.scene && !this.act && delta < 0)) { return }

      if (this.control) {
        this.control = false
        this.act += delta
        clearTimeout(this.timeout)
        this.timeout = setTimeout(() => {
          this.control = true
        }, 1000)
      }
    }
  },
  computed: {}
}
</script>


<style lang='scss' >
$bezier: cubic-bezier(0.87, 0.13, 0.48, 0.95);

.fade-in-enter-active,
.fade-in-leave-active {
  transition: transform $bezier 1s 0.6s, opacity ease-out 1s 0.6s;
}
.fade-in-enter,
.fade-in-leave-to {
  opacity: 0;
  transform: translate3d(0, 50px, 0);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity ease-out 1s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.slide-down-enter-active,
.slide-down-leave-active {
  transition: transform $bezier 1s, opacity ease-out 0.6s;
}
.slide-down-enter {
  opacity: 0;
  transform: translate3d(0, -50vh, 0);
}
.slide-down-leave-to {
  opacity: 0;
  transform: translate3d(0, 50vh, 0);
}
.slide-up-enter-active,
.slide-up-leave-active {
  transition: transform $bezier 1s, opacity ease-out 0.6s;
}
.slide-up-enter {
  opacity: 0;
  transform: translate3d(0, 50vh, 0);
}
.slide-up-leave-to {
  opacity: 0;
  transform: translate3d(0, -50vh, 0);
}
</style>
<style src='./assets/styles/main.css' lang='css' ></style>



// WEBPACK FOOTER //
// src/App.vue